<div class="form-new">
<h3> Bookmark a new recipe to <%= @category.name %> </h3>
  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.association :recipe, prompt: "Select a recipe", input_html: {data: {controller: "tom-select"}} %>
    <%= f.input :comment, prompt: "Enter a comment" %>
    <%= f.submit "Add bookmark", class: "btn btn-warning" %>
    <% end %>
</div>
<div class = "form-links-back">
<%= link_to "Back to #{@category.name}", category_path(@category)%>
</div>
