<div class = ".form-new">

<h1>Add new category</h1>

<%= simple_form_for @category do |f| %>
  <%= f.input :name %>
 <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
</div>
<li><%= link_to "Back to view all categories", root_path %></li>
</div>
