<div class="banner" style="background-image: url('<%= cl_image_path @category.photo.key %>')">
  <h1><%= @category.name %></h1>
</div>

<div class="container">
  <div class="list-of-recipes">
  <h3>Recipes</h3>
  <%= link_to "Add a new recipe to #{@category.name}", new_category_bookmark_path(@category), class: "btn btn-warning" %></li>
  </div>

  <div class="row-card-recipes">
    <% @category.bookmarks.each do |bookmark| %>
      <div class="recipe-card">
        <%= image_tag bookmark.recipe.image_url, alt: "#{bookmark.recipe.name} image" %>

        <%= link_to bookmark_path(bookmark),
          data: { turbo_method: :delete,
          turbo_confirm: "Are you sure you want to remove #{bookmark.recipe.name} from your #{@category.name} list"},
          class: 'btn-delete' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>

        <div class="card-description">
         <h5><%= bookmark.recipe.name %></h5>
          <p><%= bookmark.recipe.description %></p>
        </div>
        <div class= "card-recipe-infos">
            <p><%= bookmark.comment %></p>
            <%= bookmark.recipe.rating%> <%= '⭐️' * bookmark.recipe.rating %>
        </div>
      </div>
    <% end %>
  </div>
</div>
