<h1><%= @category.name %></h1>
<%@category.bookmarks.each do |bookmark| %>
  <%= bookmark.recipe.name %>
  <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete #{bookmark.recipe.name}?"}%>
  <hr>
 <% end %>


<ul>
<li><%= link_to "Bookmark a new recipe", new_category_bookmark_path(@category) %></li>
<li><%= link_to "Back to view all categories", root_path %></li>
</ul>
